:root {
--bs-body-font-size: 1rem;
}

body {
    font-family: Roboto;
    font-size: var(--bs-body-font-size);
}

/* Hide number input spinners/arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}